<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>搜索圈子</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../style/reset.css" />
	<link rel="stylesheet" type="text/css" href="searchfoods.css" />

</head>
<body>

	<div class="searchfoods">
		
		<div class="searchfoods-header">
			<div class="searchfoods-header-main">
				<span id="backhome"><img src="../../images/icons/login-arrow.png" alt=""></span>
				<span>
					<input type="text" placeholder="搜索美食" autofocus="autofocus">
				</span>
			</div>
		</div>
		
		<div class="searchfoods-main">

		</div>
	</div>
	
	<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="./searchfoods.js"></script>
</body>
</html>